<article class="subject-show" id="subject-show">
  <.link navigate={~p"/subjects"} id="back-to-subjects">Back to Subjects</.link>

  <section class="subject">
    <figure>
      <img id="subject-image" src={@subject.image_path} alt={@subject.name} />
    </figure>

    <section>
      <header>
        <h2 id="subject-name">{@subject.name}</h2>
        <h3 id="subject-team">{@subject.team}</h3>
        <p id="subject-position">
          <.badge status={@subject.position} />
        </p>
      </header>

      <p id="subject-bio" class="description">
        {@subject.bio}
      </p>
    </section>
  </section>
</article>
