<section>
  <.simple_form
    :let={form}
    for={@changeset}
    id="subject-form"
    phx-change="validate"
    phx-submit="save"
    phx-target={@myself}
  >
    <.input field={form[:name]} label="Name" />
    <.input field={form[:team]} label="Team" />
    <.input
      type="select"
      field={form[:position]}
      label="Position"
      options={[
        Forward: "forward",
        Midfielder: "midfielder",
        Winger: "winger",
        Defender: "defender",
        Goalkeeper: "goalkeeper"
      ]}
    />
    <.input field={form[:bio]} type="textarea" label="Bio" />

    <fieldset id="subject-image-upload" class="space-y-4">
      <legend class="sr-only">Subject image</legend>

      <figure
        :if={@subject.image_path && @subject.image_path != "/images/placeholder.jpg"}
        id="subject-current-image"
      >
        <figcaption class="text-sm font-semibold leading-6 text-zinc-800">
          Current image
        </figcaption>
        <img
          src={@subject.image_path}
          alt={@subject.name || "Subject image"}
          class="h-24 w-24 object-cover"
        />
      </figure>

      <section class="container" phx-drop-target={@uploads.image.ref}>
        <.live_file_input upload={@uploads.image} /> or drag and drop
      </section>

      <p class="text-sm leading-6 text-zinc-600">
        Add up to {@uploads.image.max_entries} photo
        (max {trunc(@uploads.image.max_file_size / 1_000_000)} mb each)
      </p>

      <article
        :for={entry <- @uploads.image.entries}
        class="flex items-center justify-between gap-4"
        id={entry.ref}
      >
        <figure
          id="subject-image-preview"
          class="flex flex-col items-center justify-between rounded-md bg-zinc-100 p-4"
        >
          <.live_img_preview entry={entry} class="h-16 w-16 object-cover" />
          <figcaption class="text-sm text-zinc-800">{entry.client_name}</figcaption>
        </figure>

        <section class="flex w-full flex-col items-center p-8">
          <p :for={err <- upload_errors(@uploads.image, entry)} class="flex flex-col text-red-500">
            {Phoenix.Naming.humanize(err)}
          </p>
          <progress value={entry.progress} max="100">{entry.progress}%</progress>
        </section>

        <button type="button" phx-click="cancel" phx-target={@myself} phx-value-ref={entry.ref}>
          Cancel
        </button>
      </article>
    </fieldset>

    <:actions>
      <.button phx-disable-with="Saving...">Save Subject</.button>
    </:actions>
  </.simple_form>
</section>
