<section class="subject-index">
  <.filter_form form={@form} />

  <section class="subjects" id="subjects" phx-update="stream">
    <p id="empty" class="no-results only:block hidden">
      No subjects found. Try changing your filters.
    </p>
    <.subject :for={{dom_id, subject} <- @streams.subjects} subject={subject} dom_id={dom_id} />
  </section>

  <div :if={@has_more} id="infinite-scroll" phx-hook="InfiniteScroll"></div>
</section>
